.completed-pro-main-grid {
    width: 60%;
    height: auto;
    min-height: 800px;
    margin: auto;
    padding-top: 5px;
}

.completed-card-container {
    width: 100%;
}

.no-found-main-grid {
    text-align: center;
    padding: 5px;
}

.no-found-main-grid .no-found-grid {
    font-size: 20px;
    color: rgb(245, 55, 55);
    font-weight: 600;
}

.no-found-main-grid .no-found-grid #search-string {
    color: black;
}

.completed-project-search-input-box-main-grid {
    width: 85%;
    margin: auto;
}

.completed-project-search-input-box-main-grid .filter-tag {
    margin: auto;
    top: 3;
    width: 50vw;
    z-index: 100;
}

.completed-project-search-input-box-main-grid .filter-tag .sc-eCYdqJ {
    font-family: var(--text) !important;
}

.completed-project-search-input-box-main-grid .filter-tag .sc-eCYdqJ .wrapper {
    z-index: 99;
    box-shadow: none !important;
    border: none !important;
}

.sc-gsnTZi ul {
    z-index: 100;
}

.sc-gsnTZi ul li {
    cursor: pointer !important;
}

#show-more {
    text-align: center;
}

#show-more span {
    font-size: 22px;
    font-weight: 600;
}

#show-more i {
    font-size: 50px;
    cursor: pointer;
    color: blue;
}

#completed-projects-hr {
    height: 2px;
    color: blue;
}

.completed-projects-home-page-tag {
    width: 100%;
}

.completed-projects-home-page-tag ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.completed-projects-home-page-tag li {
    float: left;
    margin-right: 1.5rem;
    font-size: 0.8rem;
}

.completed-projects-home-page-tag li button {
    width: 100%;
    color: rgb(155, 155, 155);
    background: #efeff8;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    border: none;
    font-family: var(--text);
}

.completed-projects-home-page-tag li button:hover {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width:2500px) {
    .completed-pro-main-grid {
        width: 70%;
    }
}

@media only screen and (max-width:2000px) {
    .completed-pro-main-grid {
        width: 85%;
    }
}

@media only screen and (max-width:1600px) {
    .completed-pro-main-grid {
        width: 100%;
        padding-left: 95px;
        padding-right: 95px;
    }
}

@media only screen and (max-width:1400px) {
    .completed-pro-main-grid {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width:968px) {
    .completed-pro-main-grid {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width:768px) {
    .completed-pro-main-grid {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}