.project-blog-details-main {
    width: 60%;
    padding: 2rem;
    margin: auto;
    word-spacing: 7px;
}

.dec-project-blog {
    width: 80%;
    word-spacing: 5px !important;
    font-size: 1.2rem;
}

@media only screen and (max-width: 2000px) {
    .project-blog-details-main {
        width: 90%;
        padding: 2rem;
        margin: auto;
        word-spacing: 7px;
    }
    .dec-project-blog {
        width: 80%;
        word-spacing: 5px !important;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:1268px) {
    .project-blog-details-main {
        width: 100%;
        padding: 1.8rem;
        margin: auto;
        word-spacing: 7px;
    }
    .dec-project-blog {
        width: 80%;
        word-spacing: 5px !important;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width:992px) {
    .project-blog-details-main {
        width: 98%;
        padding: 0.8rem;
        margin: auto;
        word-spacing: 7px;
    }
    .dec-project-blog {
        width: 95%;
        word-spacing: 5px !important;
        font-size: 1.2rem;
    }
}