.build-code-warnings {
    position: relative;
    text-align: center;
}

.build-code-warnings img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.build-code-warnings h3 {
    color: red;
}

.center-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}